[submodule "database"]
	path = database
	url = https://github.com/leihs/leihs_database.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/leihs/leihs-admin_vendor.git
[submodule "leihs-clj-shared"]
	path = leihs-clj-shared
	url = https://github.com/leihs/leihs-clj-shared.git
[submodule "leihs-ui"]
	path = leihs-ui
	url = https://github.com/leihs/leihs-ui
