*pem
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
.rebel_readline_history
/.sass-cache
/bin/zhdk_agw_auth_system.rb
/log
/target
/tmp
figwheel_server.log
resources/all/public/auth/build-timestamp.txt
