**/.DS_Store
*pem
.cider-ci_private/
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
.rebel_readline_history
/.cljs_nashorn_repl
/.cpcache
/.sass-cache
/.shadow-cljs
/bin/zhdk_agw_auth_system.rb
/log
/nashorn_code_cache
/node_modules
/resources/all/public/my/build-timestamp.txt
/resources/public/my/js/
/target
/tmp
figwheel_server.log
leihs-my_*.jar
profiles.clj
resources/all/public/auth/build-timestamp.txt
resources/built-info.yml

# ui
ui/storybook-static
ui/node_modules
ui/dist
