$font-size-base: 0.875rem; // original: 1rem = Assumes the browser default, typically `16px`
$small-font-size: 80%;
$spacer: 0.875rem;
$paragraph-margin-bottom: $font-size-base;
$print-page-size: a4;
